@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

:root {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(24, 24, 24, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
a{
  all: unset;
  cursor: pointer;
  color: inherit;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input{
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}
ul{
  list-style: none;
}

.ql-toolbar.ql-snow{
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: #FFF !important;
  padding: 0.75rem 0 !important;
}
.ql-container.ql-snow{
  border: none !important;
}
.ql-snow .ql-stroke{
  stroke: #FFF !important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
  fill: #FFF !important;
}
.ql-snow .ql-picker-label::before, .ql-editor p{
  color: #FFF !important;
}

.hidden{
  display: none;
}

h4.loader, .loader span{
  animation: loader 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes loader {
  0%{opacity: 1;}
  20%{opacity: 0.75;}
  40%{opacity: 0.5;}
  60%{opacity: 0.25;}
  80%{opacity: 0.5;}
  100%{opacity: 0.75;}
}